#wrapper {
    max-width: 100%;
    /* background-color: #231942; */
    /* background-color: #CAD2C5; */
    /* background-color: #DAD7CD; */
    /* background-color: #0D1B2A; */
}

.header {
    background-color: #231942;
}
.header-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: auto 0;
    cursor: pointer;
}

#search {
    background: url(./image/header-search.png) no-repeat 10px ;
    background-color: #DAD7CD;
    margin: auto 0;
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 3rem;
    text-align: center;
}

.basket-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: #dad7cd48;
    cursor: pointer;
    transition: 0.2s;
}

.basket-area > .basket-area__image {
    transition: 0.2s;
}

.basket-area:hover > .basket-area__image {
    scale: 1.5;
    transition: 0.2s;
}

.cards {
    padding: 50px;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
}

.cards-item {
    margin: 20px;
    padding: 10px;
    max-width: 220px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.2s;
}

.cards-item:hover {
    scale: 1.01;
    transition: 0.2s;
}

.item__image {
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.cards-item-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 10px;
}

.item__discountPrice,
.item__price {
    min-width: 50px;
}

.item__discountPrice {
    font-size: 2rem;
    font-weight: 700;
}

.item__price {
    font-size: 1.6rem;
    text-decoration: line-through;
}

.item__description {
    padding-top: 10px;
    font-size: 2rem;
}
