#wrapper {
    max-width: 100%;
    /* background-color: #231942; */
    /* background-color: #CAD2C5; */
    /* background-color: #DAD7CD; */
    /* background-color: #0D1B2A; */
}

.header {
    background-color: #231942;
    box-shadow: 0px 5px 20px 2px #00000073;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: auto 0;
    cursor: pointer;
}

#search {
    background: url(./img/header-search.png) no-repeat 10px ;
    background-color: #DAD7CD;
    margin: auto 0;
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 3rem;
    text-align: center;
}

.basket-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: #dad7cd48;
    cursor: pointer;
    transition: 0.2s;
}

.basket-area > .basket-area__image {
    transition: 0.2s;
}

.basket-area:hover > .basket-area__image {
    scale: 1.5;
    transition: 0.2s;
}

.cards {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-item {
    margin: 20px;
    padding: 10px;
    max-width: 220px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.2s;
    cursor: pointer;
}

.cards-item:hover {
    scale: 1.01;
    transition: 0.2s;
}

.item__image {
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.cards-item-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0 10px;
}

.item__discountPrice,
.item__price {
    width: 60px;
    text-align: center;
    min-width: 50px;
}

.item__discountPrice {
    font-size: 2rem;
    font-weight: 700;
}

.item__price {
    font-size: 1.7rem;
    text-decoration: line-through;
}

.item__description {
    padding-top: 10px;
    font-size: 2rem;
}

/* Хиты продаж - Аня */
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    color: #344e41;
}

.products_title {
    max-width: 300px;
    padding: 30px 70px;
}

.title_text {
    font-weight: 500;
    font-size: 22px;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: repeat(1, minmax(300px, auto));
    grid-auto-rows: minmax(300px, auto);
    gap: 30px;
    justify-content: center;
}

.product-list__item__card {
    border: 1px solid #8c8c8c3d;
    box-shadow: 0 0 5px #8c8c8c96;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all 1s;
}

.product-list__item__card:hover .card__view{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
}

.card__img{
    height: 267px;
    max-width: 200px;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__view {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    min-width: 140px;
    padding: 8px 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: none;
    background-color: #dad7cd;
    color: #344e41;
}

.card__view:hover {
    background-color: #3a5a40;
    color: #a3b18a;
    transition: all 0.3s;
}

.card__item-sale {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 400;
    font-size: 13px;
    color: #03071e;
}

.card__item-add {
    border: none;
    background-color: #dad7cd;
    border-radius: 25px;;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card__item-add:hover {
    content: "";
    transition: all 0.3s;
    background: url(../img/cart.svg) center/cover #a3b18a;
}

.info__price{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 20px;
}

.price_number_crossed{
    text-decoration: line-through;
    color: #cad2c5;
    font-weight: 400;
}

.info__item-name {
    font-weight: 400;
    font-size: 15px;
    padding: 0 20px;
}

/* POP-UP */

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 5;
}

.overlay_active{
    display: block;
}

.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.pop-up__content {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color:#ffff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(77, 77, 77);
    position: relative;
}



.pop-up__content__close{
    width: 35px;
    height: 35px;
    border: none;
    color: #344e41;
    background-color: #dad7cd;
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.pop-up__content__close:hover{
    background-color: #3a5a40;
    color: #a3b18a;
    transition: all 0.3s;
}

.pop-up__content-image {
    max-width: 400px;
    min-width: 100px;
    max-height: 400px;
}

.pop-up__content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop-up__content-info {
    max-width: 400px;
    min-height: 400px;
    padding: 30px;
}

.pop-up__content-info__title {
    font-weight: 500;
    font-size: 22px;
    margin: 0 auto;
}

.info__price_pop-up {
    display: flex;
    gap: 55px;
    padding: 0;
    margin: 10px 0;
}

.info__price_pop-up__price_number_crossed{
    text-decoration: line-through;
    color: #cad2c5;
    font-weight: 400;
}

.pop-up__content-info__description {
    font-weight: 300;
    font-size: 12px;
    margin: 20px 0;
}

.pop-up__content-info__addToCart {
    min-width: 100%;
    margin-top: 20px;
    padding: 15px;
    color: #344e41;
    background-color: #dad7cd;
    border: none;
    border-radius: 25px;;
    cursor: pointer;
}

.pop-up__content-info__addToCart:hover {
    background-color: #3a5a40;
    color: #a3b18a;
    transition: all 0.3s;
}

@media only screen and (max-width: 1200px) {
    .pop-up__content {
        max-height: 650px; 
        padding: 10px;
        flex-wrap: wrap;
    }
    .pop-up__content .pop-up__content-info{
        padding: 15px;
    }
    .pop-up__content-image img{
        border-radius: 22px;
    }
    .pop-up__content-info .pop-up__content-info__description{
        margin: 5px 0;
        max-width: 280px; 
    }
    .pop-up__content-info .pop-up__content-info__addToCart {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 690px) {
    .pop-up__content .pop-up__content-image {
        max-width: 300px;
        max-height: 300px;
    }
}

@media only screen and (max-width: 562px){
    .pop-up__content-info .pop-up__content-info__title{
        font-size: 16px;
    }
    .info__price_pop-up {
        font-size: 12px;
    }
}

@media only screen and (max-width: 460px){
    .pop-up__content {
        max-height: 500px;
        width: 200px;
        text-align: center;
    }
    .pop-up__content-info .pop-up__content-info__title{
        font-size: 14px;
    }
    .pop-up__content-info .pop-up__content-info__description {
        max-height: 110px;
        font-size: 10px;
        overflow: auto;
    }
    .pop-up__content-info .pop-up__content-info__addToCart {
        padding: 5px;
        font-size: 12px;
    }
}




