@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    background-color: #dad7cd41;
}
